<!DOCTYPE html>
<html>
<head>
    <title>Insider Watchlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

</head>
<body>
<div class="container">
    <h1>Insider Watchlist</h1>
    <p>This webapp is designed to scrape SEC data and capture 
        instances where multiple high level officers purchase stock from their company on the same day.
        </p>
    <h3>Is Insider Trading Legal?</h3>
        <p> Insider trading involves using non-public information for stock trades. 
            It's illegal if it's based on material non-public information, but legal if company insiders report their trades to the SEC. 
            This publicly accessible information promotes market transparency. 
            Non-insiders can gain insights from these trades, assisting their investment decisions and promoting a fair marketplace.

        </p>

            <h3>Insider Trade Table</h3>
            <p>The table below is updated daily at 7 am EST with fresh data from from http://openinsider.com.</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="Company Insider Details">Company Insider Details</th>
                <th scope="Trade Dates">Trade Date</th>
                <th scope="Graph">Graph</th>
                <th scope="CSV">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <!-- Description -->
                    <td>
                        <p>{{ row['Company Name'] }} ({{ row['Ticker'] }}) in the {{ row['Industry'] }} industry had {{ row['Ins'] }} insiders purchase a total of {{ row['Qty'] }} shares valued at ${{ row['Value'] }}. Filed on {{ row['Filing Date'] }}.</p>
                        <p><a href="{{ row['Yahoo Link'] }}">Yahoo</a>  <a href="{{ row['OpenInsider Link'] }}">OpenInsider</a></p>
                    </td>
                    
                    <!-- Dates -->
                    <td>
                        <p>{{ row['Trade Date'] }}</p>
                    </td>
                    
                    <!-- Graph -->
                    <td>
                        <img src="{{ url_for('static', filename=row['Graph Image Name']) }}" alt="Graph of {{ row['Company Name'] }} stock price">
                    </td>
                    
                    <!-- CSV -->
                    <td>
                        <a href="{{ url_for('static', filename=row['Stock Price CSV File Link']) }}">Download</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
</body>
</html>
